these are list examples:

In [ ]:
# this is list example:
list_var = [1,2,3,4,"ram",43.65,'hello']

# replace the value
list_var[5]='satya'

list_var

[1, 2, 3, 4, 'ram', 'satya', 'hello']

In [ ]:
# This is example of nested list
list_value = [1,2,3,4,[5,6,7,['a','b','c','d']]]

print(list_value)
list_value [4][2]
list_value [4][3][2]

[1, 2, 3, 4, [5, 6, 7, ['a', 'b', 'c', 'd']]]

'c'

this is set examples:

In [3]:
# this is set example:
set_value = {"satya",123,"hello", 32.43,"true","satya"}


print(set_value)

# this method is add the value
set_value.add("by")

#this method remove the value, if value is persent:
set_value.discard("hello")

{32.43, 'hello', 'true', 'satya', 123}

These examples of the tuple function:

In [1]:
# this is tuple examples:
Tuple_value = ("hello","hi","rahul","yogesh",'hi',)

print(Tuple_value)

# this method finding that value is persent or not.
"rahul" in Tuple_value

# this method returns at which index the value is.
Tuple_value.index("rahul")

('hello', 'hi', 'rahul', 'yogesh', 'hi')

2

These are dict examples:

In [16]:
dict_var = {'name':'satya','subject':['math','english','scince']}

print(dict_var)

print("subject name is")
dict_var['subject']

{'name': 'satya', 'subject': ['math', 'english', 'scince']}
subject name is

['math', 'english', 'scince']